

.caixa-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(40 106 177);
    border-radius: 40px;
    padding: 10px;
}

.caixa-search:hover > .caixa-texto {
    width: 240px;
    padding: 0 6px;
}

.caixa-search:hover > .botao-search {
    margin-left: 3px;
}

.botao-search {
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
}



.caixa-texto {
    border: none;
    background-color: rgb(40 106 177);
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: white;
 }
  
 :-moz-placeholder { /* Firefox 18- */
    color: white;  
 }
  
 ::-moz-placeholder {  /* Firefox 19+ */
    color: white;  
 }
  
 :-ms-input-placeholder {  
    color: white;  
 }