
.imgHeader{
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height:100vh;
<<<<<<< HEAD
=======
  
>>>>>>> 7314bd15d02b997047601c12c5d8dd464f72edcb
  background-position: center;
  background-size: 100%;
  background-color: #7D336D;
  background-repeat: no-repeat;
  position: relative;
}

*, *:before, *:after {
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}

h1{
  font-size: 48px;
  color: #ffffff;
  padding: 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.example-full-width {
  width: 80%;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgba(255, 255, 255, 0.398) !important;
}

.container{
  width: 500px; 
  margin-top: -30px;
}

.descricao{
  margin-top: 25px;
  color: #ffffff;
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.matriz{
  background-color: #ac2c90; 
  width: 85%; height: 80%; 
  padding: 10px; border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.form{
   width: 100%; 
   height: 350px;
}

.label{
  color: rgb(7, 4, 4);
  font-size: 13px;
}

.input{
   color: white;
}

.caixa-input{
  width: 100%;
}

.bot{
  background-color: rgb(255, 255, 255); 
  width: 85%; 
  height: 100%; 
  padding: 10px; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 15px;
}

.button-cadastrar{
  color: white; 
  border-radius: 10px; 
  background-color: #1b518c;
  border-style: solid; 
  width: 80%; 
  font-size: 18px; 
  margin-top: 15px;
}

.button-cadastrar:hover{
  color: white; 
  border-radius: 10px; 
  background-color: #f824b1;
  border-style: solid; 
  width: 80%; 
  font-size: 18px; 
  margin-top: 15px;
}