<div class='header-one'>
  <div class='background-div' fxLayout="row" fxLayoutAlign="space-around center">
    <div>
      Filmes
      Series
      Outros
    </div>

    <a [routerLink]="['/']" title="Home">
      <div class='background-logo' fxLayout="row" fxLayoutAlign="center end">
        <img src="../../../assets/imagens/logo.png" style="width: 100px; height: 100px;">
      </div>
    </a>
    <div *ngIf="!userLogin" style="width: 224px;">
      <div style="float: left; margin-right: 5px; width: 74px;">
        <a [routerLink]="['/login']" title="Login" *ngIf="rotaAtiva !== '/login' "> Entrar </a>
      </div>
      
      <div style="float: left; width: 144px;" >

        <a [routerLink]="['/register']" title="Login" *ngIf="rotaAtiva !== '/register' "> Cadastre-se </a>
      </div>
    </div>

    <div *ngIf="userLogin" style="width: 224px;" [routerLink]="['/profile']"  style="cursor: pointer;">

      <mat-icon style="font-size: 20px;">person</mat-icon>
      <span style="font-size: 22px;"> {{userLogin.nome}} </span>

      <button mat-button style="font-size: 18px;" (click)="logout()"> sair </button>

    </div>


  </div>