<div class="header">
    <div class="imgHeader">

        <app-header-one></app-header-one>

        <div class="center-text">
            <div class="wellcome">
                Bem vindo a Tati Crochês!
                <br>
                <br>
                Seu novo amigurumi é aqui!

                <section class="caixa-search">
                    <input class="caixa-texto" type="text" name="" placeholder="Ex: Boneca"
                Tati Croche
                <br>
                <br>
                Pedidos de encomendas para aniversarios e presentes.
                
                

                <section class="caixa-search">
                    <input class="caixa-texto" type="text" name="" placeholder="Ex: Croche"
                        [(ngModel)]="search" (ngModelChange)="filterSearch()">
                    <a class="botao-search" href="#" *ngIf="search == null || search == '' ">
                        <i class="fas fa-search pointer"></i>
                    </a>
                    <a class="botao-search" (click)="clear()" *ngIf="search != null && search != '' ">
                        <i class="fas fa-backspace pointer"></i>
                    </a>
                </section>

            </div>
        </div>
    </div>

</div>

<div class="main">
<div *ngIf="search == null || search == '' ">
    <div fxLayout="column" fxLayoutAlign="none" style="width: 100%; height: auto; margin-bottom: 30px;">
        <div fxLayout="column" fxLayoutAlign="end start" style="width: 100%; height: auto; ">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" style="width: 100%; height: auto; ">
            
            <div>
                <h1 style=" float:left; margin-left: 200px; margin-top: 20px; color: white"> Conheça nosso trabalho</h1>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center"
                style="width: 100%; height: auto; margin-bottom: 30px;">
                <div class="container" style="width: 80%; ">
                    <carousel [cellWidth]='160' [height]="220" [autoplay]="false" [dots]="false" [freeScroll]="false"
                        [arrowsOutside]="true" [loop]="false">

                        <div class="carousel-cell" fxLayout="row" fxLayoutAlign="center center" *ngFor="let f of filmes"
                            style="background-color: rgb(231, 24, 24);">
                            <app-card-item [title]="f.name" [url]="f.path" [routerLink]="['/view']"></app-card-item>
                        </div>
                    </carousel>
                </div>
            </div>


        </div>

    </div>

    <div fxLayout="column" fxLayoutAlign="none" style="width: 100%; height: auto; margin-bottom: 30px;">
        <div fxLayout="column" fxLayoutAlign="end start" style="width: 100%; height: auto; ">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" style="width: 100%; height: auto; ">

            <div>
                <h1 style=" float:left; margin-left: 200px; margin-top: 20px; color: white"> Ultimos lançamentos </h1>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center"
                style="width: 100%; height: auto; margin-bottom: 30px;">
                <div class="container" style="width: 80%; ">
                    <carousel [cellWidth]='160' [height]="220" [autoplay]="false" [dots]="false" [freeScroll]="false"
                        [arrowsOutside]="true" [loop]="false">

                        <div class="carousel-cell" fxLayout="row" fxLayoutAlign="center center" *ngFor="let f of filmes"
                            style="background-color: black;">
                            <app-card-item [title]="f.name" [url]="f.path" [routerLink]="['/view']"></app-card-item>
                        </div>


                    </carousel>
                </div>
            </div>


        </div>

    </div>

    <!-- <div fxLayout="column" fxLayoutAlign="none" style="width: 100%; height: auto; margin-bottom: 30px;">
        <div fxLayout="column" fxLayoutAlign="end start" style="width: 100%; height: auto; ">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" style="width: 100%; height: auto; ">

            <div>
                <h1 style=" float:left; margin-left: 70px; margin-top: 20px;"> Veja mais </h1>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center"
                style="width: 100%; height: auto; margin-bottom: 30px;">
                <div class="container" style="width: 100%; ">
                    <div class="row text-center text-lg-left">

                        <div class="col-lg-3 col-md-3 col-6" style="margin-bottom: 5px; "
                            *ngFor="let f of PopularFilmes.results">

                            <app-card-iten-two [movie]='f' (click)="gotoView(f.id)"></app-card-iten-two>
                        </div>                        
                        <button (click)="carregarMais()" type="button" class="btn btn-primary"
                            style=" margin-top: 50px; border-radius: 20px ; padding: 10px; font-size: 20px;  box-shadow: 2px 2px 15px black; border:none; ">Carregar
                            Mais</button>
                    </div>
                </div>
            </div>


        </div>

    </div> -->
</div>


<!-- <div *ngIf="search != null && search.trim() != '' ">
    <div fxLayout="column" fxLayoutAlign="none" style="width: 100%; height: auto; margin-bottom: 30px;">
        <div fxLayout="column" fxLayoutAlign="end start" style="width: 100%; height: auto; ">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" style="width: 100%; height: auto; ">

            <div>
                <h1 style=" float:left; margin-left: 70px; margin-top: 20px;"> Pesquisa
                    <span style="font-size: 15px; font-weight: bold;">
                        {{search}}

                    </span>
                </h1>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center"
                style="width: 100%; height: auto; margin-bottom: 30px;">
                <div class="container" style="width: 100%; ">
                    <div class="row text-center text-lg-left">

                        <div class="col-lg-3 col-md-3 col-6" style="margin-bottom: 5px; "
                            *ngFor="let f of searchFilmes.results">

                            <app-card-iten-two [movie]='f' (click)="gotoView(f.id)"></app-card-iten-two>
                        </div>
                        <button (click)="carregarMaisSearch()" type="button" class="btn btn-primary"
                            style=" margin-top: 50px; border-radius: 20px ; padding: 10px; font-size: 20px;  box-shadow: 2px 2px 15px black; border:none; ">Carregar
                            Mais</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div> -->
