.header{
    top: 0;
    left: 0;
    right: 0;
  }
  
  .center-text {
    position: absolute;
    top: 130px;
    width: 100%;
    height: 400px;
    color: #fff;
  }
  
  .imgHeader{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    position: relative;
  }

  .view, h1,h2,h3,h4,p,span{
      color: white;
  }


  .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}