<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Serviços</h3>
                  <ul>
                      <li><a href="#">Bonecas</a></li>
                      <li><a href="#">Action Figures</a></li>
                      <li><a href="#">Outros</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>Duvidas?</h3>
                  <ul>
                      <li><a href="#">Ligue 31 99999-9999</a></li>
                      <li><a href="#">taticroches@email.com</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Sobre</h3>
                  <p> Tati Croches </p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright"> Gustavo Sommer e Matheus <br> Fumec 2022</p>
      </div>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>