<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Serviços</h3>
                  <ul>
                      <li><a href="#">Filmes</a></li>
                      <li><a href="#">Séries</a></li>
                      <li><a href="#">Outros</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>Duvidas?</h3>
                  <ul>
                      <li><a href="#">Ligue 0800-761-4631</a></li>
                      <li><a href="#">czarvideos@web.com</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Sobre</h3>
                  <p>CzarVideo é um site de Streaming criado por Gustavo Miguel e Gustavo Gomes, 
                    tem como objetivo apresentar conteúdos em vídeo de qualidade através da internet 
                    sem a necessidade de fazer o download em um dispositivo. Essa aplicação é direcionada 
                    para um público diverso contendo as melhores séries, filmes, animes e documentários 
                    para o entretenimento de todos. </p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright"> Gustavo Miguel and Gustavo Gomes all rights reserved <br> Front-end Development Project for the 4th period of Faculdade Fumec © 2021</p>
      </div>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>